body {
    font-family: 'Lato', sans-serif;
}

#main {
    outline: 1px solid red;
    margin: 0 auto;
    display: flex;
    max-width: 900px;
}

#left {
    width: 40%;
    color: white;
    background: #073763;
    padding: 1rem 1.5rem;
}

    #details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .sites {
            color: white;
        }

    #contact {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .contact-info {
            border: 1px solid white;
            border-radius: .5rem;
            width: 100%;
            padding: .5rem;
            margin: .25rem;
            text-align: center;
        }

#right {
    width: 60%;
    padding: 1rem 1.5rem;
}

    .job-title {
        font-weight: bold;
    }

    .job-info {
        display: flex;
        justify-content: space-between;
    }

h1 {
    font-size: 2rem;
    margin-bottom: .25rem;
}

h2 {
    font-size: 1.1rem;
    margin-top: 3rem;
}

hr {
    color: gainsboro;
}